.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 30px;
  background-color: lightslategrey;

  /*choose a cool font with Delani*/
}

.header {
  margin: 28px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: pink; /* add opacity to all title background color using rgba matching this color */
}

.header__h1 {
  font-size: 55px;
  line-spacing: 25px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.header__paragraph {
  margin: 0 auto;
  font-size: 30px;
}

.section__title {
  padding: 49px 200px;
  background-color: pink; 
}

.foods {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.people {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stuffies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animals {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 0.1fr);
  grid-template-rows: 250px min-content 1;
  grid-gap: 90px;
}

.grid-item img {
  width: 250px;
  height: 250px;
}
